@font-face {
  font-family: 'Minecraft_Regular';
  src: url("../Fonts/MinecraftRegular-Bmg3.otf");
}

@font-face {
  font-family: 'Minecraft_Bold';
  src: url("../Fonts/MinecraftBold-nMK1.otf");
}

:root{
  --background_color : #1f1f1f;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Minecraft_Regular';
  color: white;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  background-color: var(--background_color);
  overflow: hidden;
  background-image: radial-gradient(black 2.5px, transparent 0);
  background-size: 38px 38px;
  background-position: -19px -19px;
}

/* Nav */
nav{
  margin: 2% 7%;
  padding: 40px 80px;
  border: 2px solid #000;
  background: var(--background_color);
  box-shadow: -10px 10px 0px 0px #000;
}

.close_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_nav h1{
  font-size: 32px;
  font-family: "Minecraft_Bold";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.open_nav{
  display: none;
}

.bar{
  display: block;
  height: 4px;
  width: 60px;
  margin: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}


/* intro */
.intro{
  margin: 6% 20% 10% 20%;
}

.intro h1{
  color: #FFF;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 65px;
  font-family: "Minecraft_Bold";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.animated_gradient{
  animation: background-pan 3s linear infinite; 
  background: linear-gradient(to right, #DE57FF, #3aa3ff, #9CD0FF, #DE57FF);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 65px;

  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.intro button{
  margin-top: 5%;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: white;
}

.intro button p{
  margin: 17px 20px;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.intro button img{
  margin-right: 20px;
}

/* Our_services  */
.our_services{
  padding: 50px 8%;
  border-radius: 100px;
  background-color: var(--background_color);
  height: 100vh;
}

.our_services h1{
  margin: 20px;
  font-size: 38px;
  font-family: 'Minecraft_Bold';
}

.service{
  margin-top: 30px;
  padding: 12px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #FFF;
}

.pixel_art{
  height: 100%;
  width: height;
  background-color: white;
}

.pixel_art img{
  padding: 10px;
  height: 100%;
}

.service_text{
  margin-right: 80px;
  margin-left: 40px;
}

.service_text h2{
  font-size: 34px;
  font-family: 'Minecraft_Regular';
  font-weight: 200;
}

.service_text p{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 200;
}


.know_more button{
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: white;
}

.know_more button p{
  white-space: nowrap;
  margin: 12px 20px;
  color: #000;
  font-size: 22px;
  font-family: "Minecraft_Regular";
  font-style: normal;
  font-weight: 400;
}

.know_more button img{
  width: 40px;
  margin-right: 20px;
}